<head>
  <title>Todo List Angular</title>
</head>
<body>

<div class="container"
  ng-controller="TodosListCtrl">
  <header>
    <label class="hide-completed">
      <input type="checkbox" ng-model="hideCompleted"/> Hide Completed Tasks
    </label>
    <h1>Todo List</h1>
    <login-buttons></login-buttons>
    <h5>Incomplete: {{ incompleteCount() }}</h5>
  </header>



   <ul>
   	<li ng-repeat="task in tasks" ng-class="{'checked': task.checked, 'private': task.private}" ng-init="edit = fasle;">
   		<button class="delete" ng-click="deleteTask(task)">&times;</button>
      <label>
        <input type="checkbox" ng-checked="task.checked" ng-click="setChecked(task,$event)" class="toggle-checked" />
        <span>{{ task.text }}</span><br>
      </label>
      <button class="toggle-private"
        ng-if="task.owner === $root.currentUser._id"
        ng-click="setPrivate(task)">
        {{task.private == true ? "Private" : "Public"}}
      </button>
      <small>By: <i>{{ task.username }}</i></small>
   	</li>
   </ul>



   <div class="pad" style="margin-top: 20px; display: table; width: 100%">
     <input type="text" ng-model="text" placeholder="new task" style="display: table-cell">
     <button ng-click="addTask()" style="display: table-cell;width: 14%">Add Task</button>
 </div>
</div>

</body>

